{{> header}}
<div class="products-container">
    {{#each products}}
        <div class="product">    
        <img class="thumbnails" src="{{firstItem pid.thumbnails}}" alt="Imagen del producto">
        <h2>{{pid.title}}</h2>
        <p class="description">{{pid.description}}</p>
        <p>Precio: ${{pid.price}}</p>
        <p>Categoría: {{pid.category}}</p>
        {{#if pid.status}}
            <p>Stock:{{pid.stock}}</p>
        {{else}}            
            <p>No disponible</p>
        {{/if}}
        <label for="quantity">Cantidad:</label>
        <input type="number" name="quantity" id="quantity" placeholder="{{quantity}}">
        <button class="del-to-cart">Eliminar del carrito</button>
        </div>
    {{/each}}
</div>
{{> footer}}
