{{> header}}
<div class="products-container">
    {{#if products}}
        <div class="cart" id={{userData.cart._id}}></div>
        {{#each products}}
            <div class="product"  id={{pid._id}}>    
                <img class="thumbnails" src="{{firstItem pid.thumbnails}}" alt="Imagen del producto">
                <h2>{{pid.title}}</h2>
                <p class="description">{{pid.description}}</p>
                <p><strong>Precio: </strong>${{pid.price}}</p>
                <p><strong>Categoría: </strong>{{pid.category}}</p>
                {{#if pid.status}}
                    <p><strong>Stock: </strong>{{pid.stock}}</p>
                {{else}}            
                    <p>No disponible</p>
                {{/if}}
                <label><strong>Cantidad:</strong></label>
                <div>
                    <button class="decrease-button"><i class="fas fa-minus"></i></button>
                    <input class="quantity-input" type="number" name="quantity" value={{quantity}}>
                    <button class="increase-button"><i class="fas fa-plus"></i></button>
                </div>
                <button class="del-to-cart">Eliminar del carrito</button>
            </div>
        {{/each}}
        <button class="buy-to-cart">Comprar</button>
    {{else}}
        <p>No hay productos en el carrito</p>
    {{/if}}
</div>
{{> footer}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/carts.js"></script>
