{{> header}}
<div class="products-container">
    {{#if products}}
        {{#each products}}
            <div class="product">    
            <img class="thumbnails" src="{{firstItem pid.thumbnails}}" alt="Imagen del producto">
            <h2>{{pid.title}}</h2>
            <p class="description">{{pid.description}}</p>
            <p><strong>Precio: </strong>${{pid.price}}</p>
            <p><strong>Categoría: </strong>{{pid.category}}</p>
            {{#if pid.status}}
                <p><strong>Stock: </strong>{{pid.stock}}</p>
            {{else}}            
                <p>No disponible</p>
            {{/if}}
            <p><strong>Cantidad: </strong>{{quantity}}</p>
            {{!-- <label for="quantity"><strong>Cantidad:</strong></label>
            <input type="number" name="quantity" id="quantity" placeholder="{{quantity}}">
            <button class="del-to-cart">Eliminar del carrito</button> funcionalidad no implementada --}}
            </div>
        {{/each}}
    {{else}}
        <p>No hay productos en el carrito</p>
    {{/if}}
</div>
{{> footer}}
