{{> header}}
<div class="user-container">
    <div class="user">
    {{#if user}}
        {{#if user.first_name}}
            <p><strong>Nombre: </strong>{{user.first_name}}</p>
        {{/if}}
        {{#if user.last_name}}
            <p><strong>Apellido: </strong>{{user.last_name}}</p>
        {{/if}}
        {{#if user.gender}}
            <p><strong>Genero: </strong>{{user.gender}}</p>
        {{else}}            
            <p>No disponible</p>
        {{/if}}
        <p><strong>Email: </strong>{{user.email}}</p>
        <p><strong>Rol: </strong>{{user.role}}</p>
    {{else}}
        <p>Usuario no disponible</p>
    {{/if}}
    {{#if isPremiun}}
        
    {{/if}}
    {{#if isUser}}
        
    {{/if}}
    </div>
</div>
{{> footer}}