{{> header}}
<div class="form-container">
  <form id="add-product-form">

      <label for="title">Nombre</label>
      <input type="text" name="title" id="title">

      <label for="description">Descipción</label>
      <input type="text" name="description" id="description">

      <label for="price">Precio</label>
      <input type="number" name="price" id="price">

      <label for="stock">Stock</label>
      <input type="number" name="stock" id="stock">

      <label for="code">Código</label>
      <input type="text" name="code" id="code">
      
      <label for="category">Categoría</label>
      <input type="text" name="category" id="category">

      <button type="submit" disabled>Agregar producto</button>
  </form>
</div>
<div class="results-container">
    <p><strong>Total de resultados:</strong> {{paginate.totalDocs}}</p>
    <p><strong>Página:</strong> {{paginate.page}} de {{paginate.totalPages}}</p>
</div>
<div class="paginate-container">
  {{#if paginate.hasPrevPage}}
      <a href="/realTimeProducts/?page=1"><button class="paginate">Primera Página</button></a>
      <a href="/realTimeProducts/?page={{paginate.prevPage}}"><button class="paginate">Página Anterior</button></a>
  {{/if}}
  {{#if paginate.hasNextPage}}
      <a href="/realTimeProducts/?page={{paginate.nextPage}}"><button class="paginate">Página Siguiente</button></a>
      <a href="/realTimeProducts/?page={{paginate.totalPages}}"><button class="paginate">Última Página</button></a>
  {{/if}}
</div>
<div id="product-list" class="products-container">
  {{#each products}}
      <div class="product">
        <img class="thumbnails" src="{{firstItem thumbnails}}" alt="Imagen del producto">
        <h2>{{title}}</h2>
        <p class="description">{{description}}</p>
        <p>Precio: ${{price}}</p>
        <p>Stock:{{stock}}</p>
        <button class="delete-product" data-product-id="{{id}}">Eliminar producto</button>
        <button class="add-to-cart" data-product-id="{{id}}">Añadir al carrito</button>
      </div>
  {{/each}}
</div>
{{> footer}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>