{{> header}}
<button class="del-users center">Eliminar usuarios inactivos</button>
<div class="results-container">
    <p><strong>Total de resultados:</strong> {{paginate.totalDocs}}</p>
    <p><strong>Página:</strong> {{paginate.page}} de {{paginate.totalPages}}</p>
</div>
<div class="paginate-container">
    {{#if paginate.hasPrevPage}}
        <button class="paginate" onclick="changePage(1)">Primera Página</button>
        <button class="paginate" onclick="changePage({{paginate.prevPage}})">Página Anterior</button>
    {{/if}}
    {{#if paginate.hasNextPage}}
        <button class="paginate" onclick="changePage({{paginate.nextPage}})">Página Siguiente</button>
        <button class="paginate" onclick="changePage({{paginate.totalPages}})">Última Página</button>
    {{/if}}
</div>
<div class="users-container">
    {{#each users}}
        <div class="user" id={{_id}}>
            <p><strong>Nombre: </strong>{{first_name}}</p>
            <p><strong>Apellido: </strong>{{last_name}}</p>
            <p><strong>Email: </strong>{{email}}</p>
            <p><strong>Rol: </strong>{{role}}</p>
            <button class="look-user">Ver usuario</button>
            {{#if status}}
                <button class="del-user">Eliminar usuario</button>
            {{else}}
                <p>Usuario eliminado</p>
            {{/if}}
        </div>
    {{/each}}
</div>
{{> footer}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/users.js"></script>
